@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
html, body, #__next { height: 100%; }
.bg-illustration {
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-blur {
  backdrop-filter: blur(6px);
  background-color: rgba(255,255,255,0.6);
}

/* Font families */
:root{--font-sans: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; --font-serif: 'Playfair Display', Georgia, 'Times New Roman', serif}
body{font-family:var(--font-sans);} h1,h2,h3,blockquote{font-family:var(--font-serif);}